/* 	Photo by Matheus Ferrero on Unsplash 
	https://unsplash.com/photos/TkrRvwxjb_8 */
.jumbotron {
	background-image: url(/imgs/jumbotron-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 100vh;
	color: white;
	text-shadow: 0 0 0.3em black;
	margin: 0;
}

.jumbotron h1 {
	font-family: 'Lemon', cursive;
}

.jumbotron p {
	font-family: 'Nunito', cursive;
}

.jumbotron a.btn {
	color: white;
	background-color: #ba4844;
	border-color: #fff;
	box-shadow: 0 0 5px black;
	min-width: 20%;
}

.jumbotron a.btn:hover {
	color: white;
	background-color: #cc3c37;
	box-shadow: 0 0 5px black;
}

.bg-color {
	background-color: #C1DBE0;
	height: 100vh;
}

.card {
	font-family: 'Nunito', cursive;
	min-height: 90vh;
}

.card h4 {
	font-family: 'Bitter', serif;
}