/* 	Photo by Matheus Ferrero on Unsplash 
	https://unsplash.com/photos/TkrRvwxjb_8 */
.jumbotron {
	background-image: url(/imgs/jumbotron-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	filter: blur();
	color: white;
	text-shadow: 0 0 0.3em black;
	margin: 0;
}

.bg-color {
	background: linear-gradient(to bottom right, white, #96EBA1);
	height: 100vh;
}